* {

    font-family: 'icomoon';
}

.header-landing-page {
   width: 100vw;
    height: 7vh;
    display: flex;
    justify-content: space-between;
    border: 2px solid red;
}

hr {
    /* margin-top: -10px; */
    /* margin-bottom: 10vh; */

}

.main-heading {
    display: flex;
    width: 20vw; 
    height: 7vh;
    margin-left: 100px;
    /* margin-left: 20px; */
    /* border: 2px solid green; */
}

.main-heading-img {
    display: flex;
    justify-content: center;
    object-fit: contain;
    width: 30%;
    height: 7vh;
    /* border: 2px solid black; */
}
.logo {
    height: 7vh;
}

.main-heading-title {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: left;
    width: 70%;
    /* border: 2px solid orange; */
}

.blog-title {
    font-size: large;
}

.main-button {
    display: flex;
    justify-content: space-around;
    align-items: center; 
    width: 20vw;
    margin-right: 100px;
    /* margin-right: 20px; */
    /* border: 2px solid green; */
}

.main-button-login {
    display: flex;
    /* border: 2px solid rebeccapurple; */
}

.button-sign-in {
    margin-right: 10px;
}

.login-btn{
    height: 45px;
    width:  80px;
    border-radius: 5px;
    font-size: medium;
    font-weight: 600;
    background-color: black;
    color: white;
    border: white;
    cursor: pointer;
}

.login-btn:hover {
    background-color: #3e3e3e;
}

.register-btn {
    height: 45px;
    width:  100px;
    border-radius: 5px;
    font-size: medium;
    font-weight: 600;
    background-color: white;
    color: black;
    border: 1px solid black;
    cursor: pointer;
}

.register-btn:hover {
    background-color: #d2d2d2;
}

.carousel {
    margin-left: 100px;
    margin-right: 100px;
    height: auto;
    display: flex;
    justify-content: center;
    margin-bottom: 155px;
    border: 2px solid blue;
}

.carousel-img {
    width: 45vw;
    border: 2px solid green;
}

.carousel-content {
    padding: 30px;
    background-color: #ededed;
    border: 2px solid brown;
}

.carousel-content-heading {
    margin-bottom: 10px;
}

.carousel-content-articel {
    color: rgb(71, 71, 71);
    margin-bottom: 25px;
}
